*
{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Poppins', sans-serif;
}
nav
{
    background-color: #88A47C;
    padding-top: 15px;
    padding-bottom: 1px;
    text-align: center;
    color: #fff;
}
.nav2
{
    display: flex;
    justify-items: flex-start;
}

